[Desktop Entry]
Encoding=UTF-8
Name=Scripted HTML
Name[el]=HTML σεναρίου
Name[et]=Skriptitud HTML
Name[fr]=HTML scripté
Name[ga]=HTML Scriptithe
Name[gl]=HTML con script
Name[km]=HTML ដែល​បាន​ស្គ្រីប
Name[nds]=HTML-Skript
Name[nn]=Nettside frå skript
Name[pa]=ਸਕ੍ਰਿਪਟਡ HTML
Name[pt]=HTML Programado
Name[pt_BR]=HTML Programado
Name[sv]=HTML från skript
Name[tr]=Betiklenmiş HTML
Name[uk]=Скриптовий HTML
Name[x-test]=xxScripted HTMLxx
Comment=View HTML URL printed by a script.
Comment[pt]=Ver o URL do HTML impresso pelo programa.
Comment[pt_BR]=Ver o URL do HTML impresso pelo programa.
Comment[uk]=Засіб для перегляду HTML URL-адреси, створеної скриптом.
Type=Service
Icon=internet-web-browser

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_scriptedhtml
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=scriptedhtml
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=http://www.kde-look.org/content/show.php/Scripted+HTML?content=102052
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,300

X-PublishInfo-Depends=plasma-scriptengine-javascript
X-PublishInfo-VCS=http://www.gitorious.org/pdamsten/plasmoids/trees/master/scriptedhtml
X-PublishInfo-Contact=http://bit.ly/damu-email
X-PublishInfo-Installing=http://userbase.kde.org/Plasma/Installing_Plasmoids
